.login-form-container {
    min-width: 400px;
    border-radius: 5px;
    padding: 30px;
    background-color: white;

    &.ng-enter {
        animation-name: slideInLeft 1s;
        transition: 1s all;
    }
}

.login-form-logo {
    margin: 0 auto;
}

.login-form-button {
    width: 100%;
    margin: 20px 0;
}
