<div layout-align="center center">
    <form name="loginForm" flex="grow" layout-align="center center">
        <md-input-container>
            <label translate="LOGIN.EMAIL_LABEL"></label>
            <input class="t-login-form-email" type="email" name="email" ng-model="vm.email" translate-attr-placeholder="LOGIN.EMAIL_PLACEHOLDER" required>
            <div ng-messages="loginForm.email.$error" role="alert" multiple>
                <div class="t-login-form-email-error" ng-message="required"><span translate="VALIDATION.REQUIRED" ng-show="loginForm.email.$touched"></span></div>
                <div class="t-login-form-email-error" ng-message="email"><span translate="VALIDATION.EMAIL"></span></div>
            </div>
        </md-input-container>
        <md-input-container>
            <label translate="LOGIN.PASSWORD_LABEL"></label>
            <input class="t-login-form-password" type="password" name="password" ng-model="vm.password" translate-attr-placeholder="LOGIN.PASSWORD_PLACEHOLDER" required>
            <div ng-messages="loginForm.password.$error" role="alert">
                <div class="t-login-form-password-error" ng-message="required"><span translate="VALIDATION.REQUIRED" ng-show="loginForm.password.$touched"></span></div>
            </div>
        </md-input-container>
        <div ng-messages="vm.errorText" role="alert">
            <div ng-message="required"><span translate="VALIDATION.REQUIRED" ng-show="loginForm.password.$touched"></span></div>
        </div>
        <md-button class="md-primary md-raised login-form-button t-login-button" translate="LOGIN.LOGIN_BUTTON" ng-click="vm.login()" ng-disabled="loginForm.$invalid" aria-label="Login Button"></md-button>
    </form>
    <div layout="row">
        <md-button class="md-primary t-signup-button" ui-sref="{{$root.routes.SIGN_UP}}" translate="LOGIN.SIGN_UP_BUTTON" aria-label="Sign Up Button"></md-button>
        <span flex></span>
        <md-button class="md-primary t-forgot-password-link" translate="LOGIN.FORGOT_PASSWORD_BUTTON" ng-click="vm.forgotPassword($event)" aria-label="Forgot Password Button"></md-button>
    </div>
</div>
