// Colors
$color-primary: #5cace0;
$color-secondary: #89a;
$color-accent: #e77536;
$color-gray-light: #999;
$color-gray: #767676;
$color-gray-dark: #333;
$color-warn: #8a6d3b;
$color-info: #c0a7de;
$color-success: #62cb23;
$color-error: #a94442;
$color-text: #555;
$color-text-muted: #999;
$color-bg-toolbar: #282b35;
$color-bg-sidebar: #3c4351;
$color-bg-pane: #f8f8f8;

// Z-Index
$zIndex-1: 10;
$zIndex-2: 20;
$zIndex-3: 30;
$zIndex-4: 40;
$zIndex-5: 50;
$zIndex-6: 60;
$zIndex-7: 70;
$zIndex-8: 80;
$zIndex-9: 90;
$zIndex-10: 100;