{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "rules": {
        "no-unused-vars": [2, {
            "vars": "all",
            "args": "all",
            "argsIgnorePattern": "^_"
        }]
    }
}
