@mixin overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000000,#000000);
}

.u-overlay-1 {
    &:after {
        @include overlay;
		opacity: 0.1;
  }
}

.u-overlay-2 {
    &:after {
        @include overlay;
		opacity: 0.2;
  }
}

.u-overlay-3 {
    &:after {
        @include overlay;
		opacity: 0.3;
  }
}

.u-overlay-4 {
    &:after {
        @include overlay;
		opacity: 0.4;
  }
}

.u-overlay-5 {
    &:after {
        @include overlay;
		opacity: 0.5;
  }
}

.u-overlay-6 {
    &:after {
        @include overlay;
		opacity: 0.6;
  }
}

.u-overlay-7 {
    &:after {
        @include overlay;
		opacity: 0.7;
  }
}

.u-overlay-8 {
    &:after {
        @include overlay;
		opacity: 0.8;
  }
}

.u-overlay-9 {
    &:after {
        @include overlay;
		opacity: 0.9;
  }
}
