.u-zindex-1 {
    z-index: $zIndex-1
}

.u-zindex-2 {
    z-index: $zIndex-2
}

.u-zindex-3 {
    z-index: $zIndex-3
}

.u-zindex-4 {
    z-index: $zIndex-4
}

.u-zindex-5 {
    z-index: $zIndex-5
}

.u-zindex-6 {
    z-index: $zIndex-6
}

.u-zindex-7 {
    z-index: $zIndex-7
}

.u-zindex-8 {
    z-index: $zIndex-8
}

.u-zindex-9 {
    z-index: $zIndex-9
}
