<md-dialog class="forgot-password-modal t-forgot-password-modal" aria-label="Forgot Password Modal" ng-cloak>
    <form name="forgotPasswordForm" novalidate="novalidate">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate="FORGOT_PASSWORD.TITLE"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p translate="FORGOT_PASSWORD.INSTRUCTIONS"></p>
                <md-input-container>
                    <label translate="FORGOT_PASSWORD.EMAIL_LABEL"></label>
                    <input class="t-email" name="email" type="email" translate-attr-placeholder="FORGOT_PASSWORD.EMAIL_PLACEHOLDER" ng-model="vm.email" required="required"/>
                    <div ng-messages="forgotPasswordForm.email.$error" role="alert" multiple>
                        <div class="t-email-error" ng-message="required"><span translate="VALIDATION.REQUIRED" ng-show="forgotPasswordForm.email.$touched"></span></div>
                        <div class="t-email-error" ng-message="email"><span translate="VALIDATION.EMAIL"></span></div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button class="md-default t-cancel-button" ng-click="vm.cancel()" translate="MODAL.BUTTONS.CANCEL" aria-label="Cancel Button"></md-button>
            <md-button class="md-raised md-primary t-ok-button" ng-click="vm.submit(forgotPasswordForm)" translate="MODAL.BUTTONS.OK" ng-disabled="forgotPasswordForm.$invalid" aria-label="Ok Button"></md-button>
        </div>
    </form>
</md-dialog>
