<div layout-align="center center">
    <form name="signupForm" flex="grow" layout-align="center center">
        <md-input-container>
            <label translate="SIGNUP.FULL_NAME_LABEL"></label>
            <input class="t-full-name" type="text" name="full_name" ng-model="vm.full_name" translate-attr-placeholder="SIGNUP.FULL_NAME_PLACEHOLDER" required>
            <div ng-messages="signupForm.full_name.$error" role="alert">
                <div class="t-full-name-error" ng-message="required"><span translate="VALIDATION.REQUIRED" ng-show="signupForm.full_name.$touched"></span></div>
            </div>
        </md-input-container>
        <md-input-container>
            <label translate="SIGNUP.COMPANY_NAME_LABEL"></label>
            <input class="t-company-name" type="text" name="company_name" ng-model="vm.company_name" translate-attr-placeholder="SIGNUP.COMPANY_NAME_PLACEHOLDER" required>
            <div ng-messages="signupForm.company_name.$error" role="alert">
                <div class="t-company-name-error" ng-message="required"><span translate="VALIDATION.REQUIRED" ng-show="signupForm.company_name.$touched"></span></div>
            </div>
        </md-input-container>
        <md-input-container>
            <label translate="SIGNUP.EMAIL_LABEL"></label>
            <input class="t-email" type="email" name="email" ng-model="vm.email" translate-attr-placeholder="SIGNUP.EMAIL_PLACEHOLDER" required>
            <div ng-messages="signupForm.email.$error" role="alert" multiple>
                <div class="t-email-error" ng-message="required"><span translate="VALIDATION.REQUIRED" ng-show="signupForm.email.$touched"></span></div>
                <div class="t-email-error" ng-message="email"><span translate="VALIDATION.EMAIL"></span></div>
            </div>
        </md-input-container>
        <md-input-container>
            <label translate="SIGNUP.PASSWORD_LABEL"></label>
            <input class="t-password" type="password" name="password" ng-model="vm.password" translate-attr-placeholder="SIGNUP.PASSWORD_PLACEHOLDER" required>
            <div ng-messages="signupForm.password.$error" role="alert">
                <div class="t-password-error" ng-message="required"><span translate="VALIDATION.REQUIRED" ng-show="signupForm.password.$touched"></span></div>
            </div>
        </md-input-container>
        <md-button class="md-raised md-primary t-signup-button signup-form-button" ng-click="vm.signup()" translate="SIGNUP.SIGNUP_BUTTON" ng-disabled="signupForm.$invalid" aria-label="Sign Up Button"></md-button>
    </form>
    <div layout="row" layout-align="start center">
        <md-button class="md-primary t-login-button" ui-sref="{{$root.routes.LOGIN}}" translate="SIGNUP.LOGIN_BUTTON" aria-label="Login Button"></md-button>
    </div>
</div>
